<br/><p class="line d-flex align-items-center justify-content-center", style="font-size:20px;">GALLERY APP : User Published Albums</p><br/>

<div class="input-group">
  <%= search_form_for @q do |f| %>
    <div class="form-outline d-flex">
      <%= f.search_field :tags_name_cont, class:"form-control me-2", type:"search", placeholder:"Search tags" %>
        <button type="button" class="btn btn-success">
        <i class="fas fa-search"></i>
      </button>
    </div>
  <% end %>
</div><br>

<div class= 'row'>
<%@albums.each do |album|%>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header text-center">
        <%= album.title %>
      </div>
      <div class="card-body">
        <%= link_to album_path(id: album.id) do %>
        <%= image_tag(album.cover_photo,class:'img-fluid',style:"height:16rem;")%>
        <% end %>
      </div>
      <div class="new card-footer">
        <strong>Description: </strong><%= album.description %>
        <br><strong>Tags: </strong><%= album.all_tags %>
        <br><strong>Number Of Photos: </strong><%= album.photos.count %>
      </div><br>  
    </div>
</div>
<%end%>
</div>
<br>


